node_modules/
/cli 
.env
dist/
.bun/
bun.lock
.DS_Store
*.log
coverage/
*.tsbuildinfo
.cache/
.idea/
.vscode/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
test-results/
tmp/
out/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.keys